/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro";
$primary: #6a0505 !default;

/*-- scss:rules --*/

.sidebar-title {
  color: #6a0505;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 12pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

/* Blocos do documento --------------------------- */


/* Introdução ao tema ou resumo da aula */

.chapterintro {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #D9D9D9 5px center/3em no-repeat;
  border-top: 3px solid #6a0505;    /* openintro::COL[1,1] */ 
  border-bottom: 3px solid #6a0505; /* openintro::COL[1,1] */ 
  background-position: 0.5em 1.5em;
 /* background-image: url("imagens/icones/chapterintro.png");*/
  text-align: justify;
}

/* exercícios à mão */

.exercicios {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat;  
  border-top: 1px solid #6a0505;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #6a0505; /* openintro::COL[1,1] */ 
  background-position: 0.5em 1em;
  text-align: justify;
  background-image: url("imagens/icones/guided-practice.png");
}

.exercicios:before {
  content: "Exercícios à mão";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #6a0505;
}

/* Algebra de matrizes */

.algebra{
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat; 
  border-top: 1px solid #6a0505;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #6a0505; /* openintro::COL[1,1] */ 
  background-position: 0.5em 1em;
  text-align: justify;
  background-image: url("imagens/icones/matrix.png");
}

.algebra:before {
  content: "Estudo de álgebra de matrizes";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #6a0505;
}

/* importante */

.important {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-image: url("imagens/icones/important.png");
  background-position: 0.5em 1em;
  text-align: justify;
}

.important strong {
  color: #E97583; 
}

/* tip */

.tip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-image: url("imagens/icones/tip.png");
  background-position: 0.5em 1em;
  text-align: justify;
}

/* homework */

.home {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-image: url("imagens/icones/homework.png");
  background-position: 0.5em 1em;
  text-align: justify;
}



/* cautionbox */

.caution {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-image: url("imagens/icones/stop-sign.png");
  background-position: 0.5em 1em;
  text-align: justify;
}

/* apresentação de um banco de dados */

.data { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-image: url("imagens/icones/data.png");
  background-position: 0.5em 1em;
  text-align: justify;
}

/* pronunciation - terms and Greek letters */


/* tutorials */

.singletutorial {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 30px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-position: 0.5em 1em;
  background-image: url("imagens/icones/singletutorial.png");
  text-align: justify;
}

/* labs */

.singlelab {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #6a0505;
  border-bottom: 1px solid #6a0505;
  background-position: 0.5em 1em;
  background-image: url("imagens/icones/singlelab.png");
  text-align: justify;
}



/* Other formatting */

p.caption {
  color: #777;
  margin-top: 10px;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

/* Headings */

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #6a0505; /* openintro::COL[1,1] */ 
}
h1.title {
  font-weight: 700;
}
h1 {
  border-bottom: 3px solid;
  border-top: 3px solid;
}
h2 {
  border-bottom: 3px solid #808080;
  border-top: 3px solid #808080;
}
h3 {
  border-top: 1px solid #D9D9D9; /* openintro::COL[7,1] */
}

.welcome h1 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}

.welcome h2 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}


/* Fonts */

.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* moved this out of Chp 1 but not sure if it's being used anywhere */

.column-left{
  float: left;
  width: 49%;
  text-align: left;
}
.column-right{
  float: right;
  width: 49%;
  text-align: left;
}

/* authorinfo */

.authorinfo {
  padding: 0em 0em 0em 0em;
}

/* lightbox captions */

.gslide-description {
  font-size: 1.5em
}

/* algumas configuracoes dos slides */
$presentation-h2-font-size: 1.5em !default;
$presentation-h1-font-size: 2em !default;
$presentation-font-size-root: 40px;
$presentation-line-height: 1.5;
$presentation-slide-text-align: justify;


* {
  text-align: justify;
}

